@page "/ActiveGroup"
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.GroupsModel
@{
    Layout = "_GroupLayout";
}
@if (Model.data == null)
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Aktywna grupa - @(Model.activeGroup ?? "Brak aktywnej grupy")</h1>
    </div>

    <div class="p-3">
        <div id="groupsContainer">
            @if (!Model.groupList.Any())
            {
                <div class="no-data">
                    <p class="p-5">Brak danych do wyświetlenia</p>
                </div>
            }
            else
            {
                @foreach (var item in Model.groupList)
                {
                    <div class="card">
                        <div class="card-header pt-3">
                            <p class="groupName">@item.name</p>
                        </div>
                        <div class="card-body">
                            <span class="text-white-50">Właściciel</span>
                            <br />
                            <p>@item.owner_name</p>
                            <span class="text-white-50">Opis</span>
                            <br />
                            <p>@item.description</p>
                            <input type="hidden" asp-for="changeGroupId" class="update" value="@item.group_id" />
                        </div>
                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>


<!-- Change active group modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-change-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="mb-3 mt-3">
                        <h4>Czy na pewno chcesz zmienić aktywną grupę?</h4>
                        <br/>
                        <h5 class="text-primary">Nową aktywną grupą będzie - 
                            <span id="groupName"></span>
                        </h5>
                    </div>
                </div>
                <hr />
                <div class="text-end mb-3">
                    <form method="post" id="activeGroupChangeForm">
                        <button type="button" class="btn btn-secondary px-5 me-2" data-bs-dismiss="modal">Nie</button>
                        <input type="hidden" asp-for="changeGroupId" id="change" value="@Model.groupId" />
                        <button type="button" class="btn btn-primary details px-5 me-2" id="confirmActiveGroupChange">Tak</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            let loadedGroupId = $("#change").val();

            //Find active group and assign class
            $("#groupsContainer .card").each(function () {
                let value = $(this).find(".update").val()

                if (value == loadedGroupId) {
                    let card = $(this);
                    card.addClass("selected-group-border");
                }
            });

            //Update value of hidden input in form and change style of selected item
            $("#groupsContainer .card").click(function () {
                let groupId = $(this).find(".update").val();
                let groupName = $(this).find(".groupName").text();

                $("#change").val(groupId);
                $("#groupName").text(groupName);
                $("#confirm-change-modal").modal("show");
            });

            $("#confirmActiveGroupChange").click(function () {
                $("#activeGroupChangeForm").attr("action", "/ActiveGroup?handler=ChangeActiveGroup");
                $("#activeGroupChangeForm").submit();
            })
        });
    </script>
}