@page
@model Aplikacja_webowa_do_zarządzania_zespołami.Pages.MessagesModel
@{
    Layout = "_ComunicationLayout";
}
@if (Model.data == null)
{
    Response.Redirect("/");
}

<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Skrzynka odbiorcza</h1>
    </div>

    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-table">
                        <div class="p-3">
                            <button class="btn btn-dark px-3 me-2" id="recive">Odebrane</button>
                            <button class="btn btn-dark px-3 me-2" id="send">Wysłane</button>
                            <button class="btn btn-primary px-3" id="create">Nowa wiadomość</button>
                        </div>
                        <div id="messageContainer">
                            <partial name ="Partials/_PartialReciveMessagesView" model="Model.reciveMessagesList"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="succes-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body mt-2">
                Wiadmość została wysłana
            </div>
            <button type="button" class="btn btn-secondary ms-auto m-3" data-bs-dismiss="modal">Zamknij</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            //Set how many records need to loaded after clicking on button
            let howMany = 20;

            //Button handlers
            $("#recive").click(function () {

                //Since we are changin content of the page we need to restart value of howMany
                howMany = 20;

                if ($("#messageContainer").children().length > 0) {
                    $("#messageContainer").empty();
                }

                $.ajax({
                    type: 'get',
                    url: '@Url.Page("Messages", "ReciveMessagesPartial")',
                    data: { howMany: 10 }, //Get 10 records as in the begining
                    success: function (partialResult) {
                        $("#messageContainer").append(partialResult);
                    }
                });
            });

            $("#send").click(function () {

                //Since we are changin content of the page we need to restart value of howMany
                howMany = 20;

                if ($("#messageContainer").children().length > 0) {
                    $("#messageContainer").empty();
                }

                $.ajax({
                    type: 'get',
                    url: '@Url.Page("Messages", "SendedMessagesPartial")',
                    data: { howMany: 10 }, //Get 10 records as in the begining
                    success: function (partialResult) {
                        $("#messageContainer").append(partialResult);
                    }
                });
            });

            $("#create").click(function () {

                if ($("#messageContainer").children().length > 0) {
                    $("#messageContainer").empty();
                }

                $.ajax({
                    type: 'get',
                    url: '@Url.Page("Messages", "CreateMessage")',
                    success: function (partialResult) {
                        $("#messageContainer").append(partialResult);                  
                    }
                });
            });

            //loadMore handlers
            $("#messageContainer").on("click", "#loadMoreRecived", function () {

                //Clear space for new data
                if ($("#messageContainer").children().length > 0) {
                    $("#messageContainer").empty();
                }

                $.ajax({
                    type: 'get',
                    url: '@Url.Page("Messages", "ReciveMessagesPartial")',
                    data: { howMany: howMany },
                    success: function (partialResult) {
                        $("#messageContainer").append(partialResult);
                        howMany += 10;
                    }
                });
            });

            $("#messageContainer").on("click", "#loadMoreSended", function () {

                //Clear space for new data
                if ($("#messageContainer").children().length > 0) {
                    $("#messageContainer").empty();
                }

                $.ajax({
                    type: 'get',
                    url: '@Url.Page("Messages", "SendedMessagesPartial")',
                    data: { howMany: howMany },
                    success: function (partialResult) {
                        $("#messageContainer").append(partialResult);
                        howMany += 10;
                    }
                });
            });


            //On item click handlers
            $("#messageContainer").on("click", ".recive-item", function () {
                var newDiv = $("<div></div>", {
                    class: "message",
                });

                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    let nextNewDiv = $(this).find(".message");
                    nextNewDiv.remove();
                } else {
                    $(this).append(newDiv);
                    $(this).addClass("active");
                    let idValue = $(this).attr("id");
                    let partial = $(this).find(".message");

                    partial.load('/Messages?handler=ReciveMessage&id=' + idValue);
                }
            });

            $("#messageContainer").on("click", ".sended-item", function () {
                var newDiv = $("<div></div>", {
                    class: "message",
                });

                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    let nextNewDiv = $(this).find(".message");
                    nextNewDiv.remove();
                } else {
                    $(this).append(newDiv);
                    $(this).addClass("active");
                    let idValue = $(this).attr("id");
                    let partial = $(this).find(".message");

                    partial.load("/Messages?handler=SendedMessage&id=" + idValue);
                }
            });
        });

        $(document).ajaxSuccess(function (event, xhr, settings) {
            if (settings.url === '@Url.Page("Messages", "CreateMessage")') {

                //Selectize initialization
                $('#message').selectize({
                    sortField: "text",
                    multiple: true,

                    onChange: function (value) {
                        $("#message-user-hidden").val(value);
                    }
                });

                //Clear valmgs on submit
                $("form").on('submit', function () {
                    $("span[data-valmsg-for]").text("");
                });

                //Form validation and sending data
                $("form").submit(function (event) {
                    event.preventDefault();

                    let form = $(this);
                    let actionUrl = form.attr("action");


                    $.ajax({
                        type: form.attr("method"),
                        url: actionUrl,
                        data: form.serialize(),
                        dataType: "json",
                        success: function (data) {
                            if (Object.keys(data).length > 0 && !Array.isArray(data) && data != "success") {
                                let keys = Object.keys(data);

                                for (let i = 0; i < keys.length; i++) {
                                    let key = keys[i];
                                    let errors = data[key];
                                    let errorSpan = $(`span[data-valmsg-for="${key}"]`);

                                    if (errorSpan.length > 0) {
                                        errorSpan.text(errors[0]);
                                    }
                                }
                            } else if (Array.isArray(data) && data.length > 0) {
                                let nameValidationError = $(`span[data-valmsg-for="message.content"]`);
                                nameValidationError.text(data[0]);
                            }
                            else {
                                $("#succes-modal").modal("show");
                                //After succesful creation of message clear errors and data
                                $("span[data-valmsg-for]").text("");
                                $("#message-topic").val("");
                                $("#message-content").val("");
                                $("#message")[0].selectize.clear();
                            }
                        }
                    });
                });
            }
        });

    </script>
}