@page "/UserTasks"
@model UserTasksModel
@{
    ViewData["Title"] = "Home page";
}



<div class="w-100 h-100 d-inline-block overflow-auto bg-main">
    <div class="p-4">
        <h1 class="text-center display-6 fw-bold">Zadania</h1>
    </div>

    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="DataTable" class="dataTable table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nazwa zadania</th>
                                            <th scope="col">Data zadania</th>
                                            <th scope="col">Data wykonania</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Priorytet</th>
                                            <th scope="col" data-orderable="false"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model.TasksList)
                                        {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.StartDate</td>
                                            <td>@item.EndDate</td>
                                            <td>@item.Status</td>
                                            <td>@item.Priority</td>
                                            <td><button class="btn btn-sm btn-dark details" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#details-modal">Details</button></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dane zadania</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <span class="d-inline-block">Title:</span><span id="title"></span>
                </div>
                <div>
                    <span class="d-inline-block">Description:</span><span id="description"></span>
                </div>
                <div>
                    <span class="d-inline-block">Status:</span><span id="status"></span>
                </div>
                <div>
                    <span class="d-inline-block">Priority:</span><span id="priority"></span>
                </div>
                <div>
                    <span class="d-inline-block">Start Date</span><span id="start-date"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" id="update" data-id="">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $.getJSON(`/UserTasks?handler=TaskJson&id=${$(this).data('id')}`).done(function (task) {
                    $('#title').text(task.title);
                    $('#description').text(task.description);
                    $('#status').text(task.status);
                    $('#priority').text(task.priority);
                    $('#start-date').text(task.startDate);
                    $('#update').attr('data-id', task.id.toString());
                });
            });
        })
    </script>
}




