@model MessagesModel.CreateMessageView
<form method="post" asp-page-handler="Create">
    <div class="mt-md-4 pb-5 pt-2 px-3">

        <div class="contain mb-4">
            <div class="row">
                <div class="col-md-5">
                    <label class="form-label" for="message-topic">Temat</label>
                    <br />
                    <input type="text" class="status-input form-control bg-dark" id="message-topic" asp-for="message.topic">
                    <span asp-validation-for="message.topic" class="text-danger"></span>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <label class="form-label" for="message">Odbiorca</label>
                    <br />
                    <select id="message" multiple="multiple">
                        @foreach (var item in Model.usersList)
                        {
                            <option value="@item.user_id">
                                @item.username

                                @if (item.name != null && item.surname != null)
                                {
                                    @($"({item.name} {item.surname})")
                                }
                                else if (item.name != null)
                                {
                                    @($"({item.name})")
                                }
                                else if (item.surname != null)
                                {
                                    @($"({item.surname})")
                                }
                            </option>
                        }
                    </select>
                    <input type="hidden" asp-for="messageUsers" id="message-user-hidden" />
                </div>
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label" for="message-content">Treść wiadomości</label>
            <br />
            <textarea class="status-input form-control bg-dark" id="message-content" rows="8" asp-for="message.content"></textarea>
            <span asp-validation-for="message.content" class="text-danger"></span>
        </div>
        <input class="btn btn-primary" id="submitButton" type="submit" value="Wyślij wiadomość" />
    </div>
</form>